{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>NobleEduMetrics</title>
</head>
<body>
    <header>
        <h1>NobleEduMetrics</h1>


        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About Us</a>

            <a href="{% url 'list_schools' %}">School Lists</a>
            <a href="{% url 'contact' %}">Contact Us</a>
            <a href="{% url 'careers' %}">Careers</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
<footer>
    <p>All Rights Reserved by EducationTrackingSystem 2024</p>
</footer>
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>